{
	"extends": [
		"@commitlint/config-conventional"
	],
	"rules": {
		"body-case": [
			2,
			"always",
			"sentence-case"
		],
		"body-empty": [
			0
		],
		"body-leading-blank": [
			2,
			"always"
		],
		"body-min-length": [
			2,
			"always",
			10
		],
		"body-max-length": [
			2,
			"always",
			"Infinity"
		],
		"body-max-line-length": [
			2,
			"always",
			"Infinity"
		],
		"body-full-stop": [
			2,
			"never",
			"."
		],
		"footer-empty": [
			0
		],
		"footer-leading-blank": [
			2,
			"always"
		],
		"footer-min-length": [
			2,
			"always",
			8
		],
		"footer-max-length": [
			2,
			"always",
			"Infinity"
		],
		"footer-max-line-length": [
			2,
			"always",
			"Infinity"
		],
		"header-case": [
			2,
			"always",
			"lower-case"
		],
		"header-min-length": [
			2,
			"always",
			15
		],
		"header-max-length": [
			2,
			"always",
			150
		],
		"header-full-stop": [
			2,
			"never",
			"."
		],
		"references-empty": [
			2,
			"always"
		],
		"scope-case": [
			2,
			"always",
			"lower-case"
		],
		"scope-empty": [
			0
		],
		"scope-min-length": [
			2,
			"always",
			3
		],
		"scope-max-length": [
			2,
			"always",
			"Infinity"
		],
		"scope-enum": [
			2,
			"always",
			[
				"api",
				"middleware",
				"init",
				"runner",
				"watcher",
				"config",
				"web-server",
				"proxy",
				"animations",
				"bazel",
				"benchpress",
				"common",
				"compiler",
				"compiler-cli",
				"core",
				"elements",
				"forms",
				"http",
				"language-service",
				"localize",
				"platform-browser",
				"platform-browser-dynamic",
				"platform-server",
				"router",
				"service-worker",
				"upgrade"
			]
		],
		"subject-case": [
			2,
			"always",
			"lower-case"
		],
		"subject-empty": [
			2,
			"never"
		],
		"subject-full-stop": [
			2,
			"never",
			"."
		],
		"subject-min-length": [
			2,
			"always",
			15
		],
		"subject-max-length": [
			2,
			"always",
			"Infinity"
		],
		"subject-exclamation-mark": [
			0
		],
		"type-case": [
			2,
			"always",
			"lower-case"
		],
		"type-empty": [
			2,
			"never"
		],
		"type-min-length": [
			2,
			"always",
			2
		],
		"type-max-length": [
			2,
			"always",
			"Infinity"
		],
		"type-enum": [
			2,
			"always",
			[
				"feat",
				"fix",
				"perf",
				"docs",
				"style",
				"refactor",
				"chore",
				"revert",
				"build",
				"ci",
				"release",
				"merge",
				"revert",
				"test"
			]
		],
		"signed-off-by": [
			2,
			"always",
			"Signed-off-by:"
		],
		"trailer-exists": [
			0
		]
	}
}
